.row
  .medium-6.medium-centered.columns
    %h1.show 
      Flight 
      = @flight.flight_number
      = Origin.find(@flight.origin_id).postal_code

.row.info
  .medium-6.medium-centered.columns
    .medium-4.columns
      Ship
      %br
      = @ship.name
    .medium-4.columns
      Ship Speed
      %br
      = @ship.speed
    .medium-4.columns
      Capacity
      %br
      = @ship.capacity

.row
  / .medium-2.medium-left.columns
  .medium-5.medium-offset-7.columns
    .book_it
      = link_to "Book!", new_flight_passenger_path( :flight_id => params[:id])

/ %img#graph{:src => "/assets/graph_placeholder_show.png"}

/ %img#spaceman{:src => "/assets/spaceman_placeholder_show.png"}

