!!! html
%head
  = javascript_include_tag "application" 

.row
  .medium-3-offset.medium-9.columns
    %h1.show 
      Flight 
      = @flight.flight_number

.row.info
  .medium-3-offset.medium-9.columns
    .small-3.columns
      Ship
      %br
      = @ship.name
    .small-3.columns
      Ship Speed
      %br
      = @ship.speed
    .small-3.columns
      Capacity
      %br
      = @ship.capacity
    .small-3.columns
      Distance
      %br
      = @flight.getDistance

.row.weather.origin
  .medium-3-offset.medium-9.columns
    .small-4.columns
      Cloud Cover
      %br
      %input.dial{"data-width" => "125", "data-fgcolor" => "red", "data-thickness" => ".4", "data-min" => 0, "data-max" => 1, "data-displayInput" => "false", "data-linecap" => "round", readonly: "readonly", value: ".33"}
    .small-4.columns
      Humidity
      %br
        %input.dial{"data-width" => "125", "data-fgcolor" => "red", "data-thickness" => ".4", "data-min" => 0, "data-max" => 1, "data-displayInput" => "false","data-linecap" => "round", readonly: "readonly", value: ".33"}
    .small-4.columns
      Precipitation
      %br
        %input.dial{"data-width" => "125", "data-fgcolor" => "red", "data-thickness" => ".4", "data-min" => 0, "data-max" => 1, "data-displayInput" => "false","data-linecap" => "round", readonly: "readonly", value: ".33"}

.row
  / .small-2.small-left.columns
  .small-5.small-offset-7.columns
    .book_it
      = link_to "Book!", new_flight_passenger_path( :flight_id => params[:id])


/ , value: "#{ForecastIO.forecast(@lat, @long).currently.cloudCover}"
/ , value: "#{ForecastIO.forecast(@lat, @long).currently.humidity}"
/ , value: "#{ForecastIO.forecast(@lat, @long).currently.precipIntensity}"

/ .small-3.columns
/   Closest Storm
/   %br
/ = "#{ForecastIO.forecast(@lat, @long).currently.nearestStormDistance} miles away"
