!!! html
%head
  = javascript_include_tag "application" 

.row
  .small-6.small-centered.columns
    %h1.show 
      Flight 
      = @flight.flight_number

.row.info
  .small-6.small-centered.columns
    .small-3.columns
      Ship
      %br
      = @ship.name
    .small-3.columns
      Ship Speed
      %br
      = @ship.speed
    .small-3.columns
      Capacity
      %br
      = @ship.capacity
    .small-3.columns
      Distance
      %br
      = @flight.getDistance

.row.weather.origin
  .small-7.small-offset-5.columns
    .small-3.columns
      Cloud Cover
      %br
      / = ForecastIO.forecast(@lat, @long).currently.cloudCover
    .small-3.columns
      Closest Storm
      %br
      / = "#{ForecastIO.forecast(@lat, @long).currently.nearestStormDistance} miles away"
    .small-3.columns
      Humidity
      %br
      / = ForecastIO.forecast(@lat, @long).currently.humidity
    .small-3.columns
      Precipitation
      %br
      / = "#{ForecastIO.forecast(@lat, @long).currently.precipIntensity} %"

.row
  / .small-2.small-left.columns
  .small-5.small-offset-7.columns
    .book_it
      = link_to "Book!", new_flight_passenger_path( :flight_id => params[:id])

%input.dial{"data-angleoffset" => "180", "data-fgcolor" => "#C9D4AE", "data-skin" => "tron", "data-thickness" => ".1", "data-width" => "150", type: "text"}

