%p= "Ahoy, #{@passenger.first_name}!"

%p= "Sell the house and sell the wife"
%p= "You're goin' on the trip of a life..."
%p= "...time."

%p= "In about #{((Flight.find(2).departure_time - Time.now)/60/60/24).to_i} short days, you're taking off for Mars. To prepare, we recommend you get your fill of swimming, carrying heavy things, and climbing trees."