%img#helmet{:src => "/assets/helmet.png"}

.row.form-padding
  .medium-6.columns.medium-centered
    %h1 Passenger Information
.row
  .medium-5.columns  
    = minimal_form_for [@flight, @passenger] do |f|
      .row
        .medium-6.columns
          = f.input :first_name
        .medium-6.columns
          = f.input :last_name
      .dateselect
        = f.input :date_of_birth
      .row
        .medium-6.columns
          = f.input :email
        .medium-6.columns
          = f.input :phone
      = f.input :address
      = f.input :emergency_contact
      = f.submit