= simple_form_for [@flight, @passenger], method: :post do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :date_of_birth
  = f.input :phone
  = f.input :address
  = f.input :emergency_contact
  = f.submit
