!!! 
%html{"ng-app"=>"mars"}
%head
  %title Mars Attracts!

  = stylesheet_link_tag "application", media: "all" 
  %meta{ "name"=>"apple-mobile-web-app-capable", "content"=>"yes"}
  = favicon_link_tag
  = csrf_meta_tags
  = javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js'
  = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js'
  = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-resource.min.js'
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.min.js'
  = javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js'
  = javascript_include_tag 'http://cdn3.devexpress.com/jslib/13.2.6/js/dx.chartjs.js'


%body#background
  .background
    .row
      .grid
        = image_tag "hexgrid.png"

    .row
      / .vid.small-12.medium-12.large-12.columns
      / = video_tag "stars.ogv", :autoplay => false, :loop => true
      / via https://archive.org/details/StarsTimeLapse

    = yield
    = javascript_include_tag "application" 
    .padding-bottom

  
