!!! 
%html{"ng-app"=>"mars"}
%head
  %title Mars Attracts!

  = stylesheet_link_tag "application", media: "all" 
  %meta{ "name"=>"apple-mobile-web-app-capable", "content"=>"yes"}
  = favicon_link_tag
  = csrf_meta_tags
  = javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js'
  = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js'
  = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-resource.min.js'
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.min.js'
  = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js'


%body#background
  .background
    .row
      .grid
        = image_tag "hexgrid.png"

    / .row
    / .vid.small-12.medium-12.large-12.columns
    / = video_tag "stars.ogv", :autoplay => true, :loop => true, :poster => "night-sky.jpg"
    /   / via https://archive.org/details/StarsTimeLapse
    %div{style: "width: 1024px; height: 768px; margin: 0 auto"}
      = yield
    = javascript_include_tag "application" 
    .padding-bottom

    :javascript

      $(document).ready(function() {
        var urlMarsTemp = "/mars_weather_temps.json";
        var urlEarthTemp = "/earth_weather_temps.json";

        var marsMinTempDataContainer = [];
        var marsMaxTempDataContainer = [];
        var earthMinTempDataContainer = [];
        var earthMaxTempDataContainer = [];

        $.get(urlMarsTemp, function(data) {
          for(var i = 0; i < data.length; i++){
            marsMinTempDataContainer.push(data[i].min_temp_fahrenheit)
            marsMaxTempDataContainer.push(data[i].max_temp_fahrenheit)
          }
          $.get(urlEarthTemp, function(data) {
            for(var i = 0; i < data.length; i++){
              earthMinTempDataContainer.push(data[i].temperatureMin)
              earthMaxTempDataContainer.push(data[i].temperatureMax)
            }

            var ctx = $("#weatherChart").get(0).getContext("2d");

            var data = {
            labels : [1, " ", " ", 4, " ", " ", 7, " ", " ", 10, " ", " ", 13," ", " ", 16, " "," ", 19, " ", " ", 22, " ", " ", 25, " ", " ", 28, " ", " ", 31, " ", " ", 34, " ", " ", 37, " ", " ", 40, " ", " ", 43, " ", " ", 46, " ", " ", 49, " ", " ", 52],

            datasets : [
              {
                strokeColor : "#B02202",
                data : marsMinTempDataContainer
              },
              {
                strokeColor : "#FF3103",
                data : marsMaxTempDataContainer
              },
              {
                strokeColor : "#145717",
                data : earthMinTempDataContainer
              },
              {
                strokeColor : "#14B01B",
                data : earthMaxTempDataContainer
              }
              ]
            };

            options = {
                datasetFill: false,
                scaleOverride: true,
                scaleSteps: 6,
                scaleStepWidth: 52,
                scaleStartValue: -202,
                scaleFontColor : "#f0f0f0",
                scaleLineColor : "#f0f0f0",
                scaleFontSize : 16,
                scaleShowGridLines : false,
                scaleOverlay : true,
                scaleShowLabels : true,
                pointDot : false,
                scaleLabel : "<%=value%>"
            };

            var myNewChart = new Chart(ctx).Line(data, options);
            
            })
        })
      })
