!!! 
%html(ng-app)
%head
  %title MarsAttracts
  = stylesheet_link_tag    "application", media: "all" 
  = javascript_include_tag "application" 
  = favicon_link_tag
  = csrf_meta_tags
  = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js'

%body
  
  = yield
  :javascript
    function OriginCtrl($scope, $http){
      $scope.origins = []
      $http.get('/origins.json').success(function(data){
          $scope.origins = data;
      });
    }
    function DestinationCtrl($scope, $http){
      $scope.destinations = []
      $http.get('/destinations.json').success(function(data){
          $scope.destinations = data;
      });
    }
    function FlightCtrl($scope, $http){
      $scope.flights = []
      $http.get('/flights.json').success(function(data){
          $scope.flights = data;
      });

      
    }
  
